.info {
    display: flex;

    .container {
        display: flex;
        flex-direction: column;
        align-items: end;

        * {
            margin: 5px;
        }

        .phone {
            font-weight: bold;
            size: 14 px;
            color: black;
        }

        .time {
            size: 12px;
            color: #3F4E65;
        }

        .link {
            size: 10px;
            color: #3F4E65;
        } 
    }

    .image_operator {
        position: relative;
        width: 70px;
        height: 92px;
        border-radius: 50%;
        overflow: hidden;
        

        .indicator {
            position: absolute;
            top: 29px;
            right: 6px;
            width: 8px;
            height: 8px;
            background-color: #1FD85D; // Зеленый цвет для индикатора
            border-radius: 50%;
            border: 2px solid #F0F6FA;
        }
    }
}