.button {
    background-color: #FFC85E;
    border-radius: 79px;
    padding: 10px 20px 10px 20px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    border: none;
    align-items: center;
    justify-content: space-between;
}