.itemC {
    box-shadow: none;
    position: relative; /* Позволяет позиционировать дочерние элементы относительно этого контейнера */
    margin: 20px;
    text-align: center;
    flex: 1 1 auto;
    max-width: 200px;
    padding: 15px; /* Отступы внутри элемента */
  
    &-container {
      display: flex;
      flex-wrap: wrap;
    }
  
    img {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  
    &-name {
      text-align: center; /* Выравнивание по центру */
      margin-top: 5px; /* Отступ сверху для отделения от изображения */
      font-size: 12px; /* Размер шрифта для имени, можно изменить по желанию */
    }
  }

  /* Адаптивные медиа-запросы */
@media (max-width: 768px) { /* Для планшетов и маленьких экранов */
  .item {
      max-width: 90%; /* Элементы занимают всю ширину контейнера */
      margin: 10px auto; /* Центрирование элемента */
  }
  
  .item-container {
      justify-content: center; /* Центрирование контейнеров */
  }
}

@media (min-width: 769px) and (max-width: 1020px) { /* Для больших планшетов */
  .item {
      max-width: 45%; /* Два элемента в ряд */
      margin: 10px;
  }
}

@media (min-width: 1024px) { /* Для десктопов */
  .item {
      max-width: 20%; /* Три элемента в ряд */
      margin: 10px;
  }
}
  