.itemC {
    box-shadow: none;
    position: relative; /* Позволяет позиционировать дочерние элементы относительно этого контейнера */
    margin: 20px;
    text-align: center;
    flex: 1 1 auto;
    max-width: 200px;
    padding: 15px; /* Отступы внутри элемента */
  
    &-container {
      display: flex;
      flex-wrap: wrap;
    }
  
    img {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  
    &-name {
      text-align: center; /* Выравнивание по центру */
      margin-top: 5px; /* Отступ сверху для отделения от изображения */
      font-size: 12px; /* Размер шрифта для имени, можно изменить по желанию */
    }
  }

  @media (max-width: 768px) { /* Для мобильных устройств */
    .itemC {
        max-width: 80%; /* Элемент занимает большую часть ширины экрана */
        margin: 10px auto; /* Центрирование элемента */
    }
    
    .itemC-container {
        justify-content: center; /* Центрирование контейнеров */
    }
}

@media (min-width: 769px) and (max-width: 1020px) { /* Для небольших планшетов */
    .itemC {
        max-width: 40%; /* Два элемента в ряд */
        margin: 10px;
    }
}

@media (min-width: 1024px) { /* Для больших планшетов и десктопов */
    .itemC {
        max-width: 15%; /* Четыре элемента в ряд */
        margin: 10px;
    }
}
  