.header {
    display: flex;
    flex-direction: column;
    .top {
        .info_container {
            display: flex;
        }
        width: 1920;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    hr {
        margin: 0;
        color: #3F4E65;
        opacity: 20%;
    }

    .bottom {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 110px;

        .catalog_button {
            margin-right: 15px;
        }

        span {
            content: "";
            height: 49px;
            border: 1px;
            border-style: dashed;
            color: #3F4E65;
            opacity: 10%;
            margin-left: 25px;
            margin-right: 25px;
        }

        // .container {
        //     display: flex;
        //     gap: 50px 50px;
        //     align-items: center;
        // }

        // .container > *:not(:last-child)::after {
        //     content: "";
        //     height: 49px;
        //     border: 1px;
        //     border-style: dashed;
        //     color: #3F4E65;
        //     opacity: 10%;
        //     margin-left: 25px;;
        // }
    }
    
}