.search_bar {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    // padding: 10px 20px;
    border-radius: 36px;
    width: 263px;
    height: 59px;
    margin-right: 35px;

    input {
      padding-left: 20px;
      border: none;
      background: none;
      outline: none;
      flex: 1;
      font-size: 16px;
      color: #666666;

      .input:placeholder-shown {
        color: #5C6370;
      }
    }
  
    button {
      background-color: #f4c363;
      border: none;
      border-radius: 50%;
      width: 39px; height: 39px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
}