.contact-section {
  position: relative;
  width: 100%; /* Задайте ширину контейнера */
  height: 100vh; /* Задайте высоту контейнера */
  overflow: hidden; /* Скрыть переполнение */
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./image.png'); /* Установите изображение как фон */
  background-size: cover; /* Обеспечьте покрытие всего контейнера */
  background-position: center; /* Центрируйте изображение */
}

.blur-overlay {
  position: absolute;
  top: 0; /* Положение сверху */
  left: 0; /* Положение слева */
  width: 100%; /* Ширина замыливания */
  height: 100%; /* Высота замыливания */
  border-radius: 8px 0px 0px 0px; /* Скругление углов */
  background: rgba(255, 255, 255, 0.3); /* Полупрозрачный фон */
  backdrop-filter: blur(30px); /* Эффект размытия */
  display: flex;
  flex-direction: column; /* Выравнивание текста по вертикали */
  justify-content: center;
  align-items: center;
  opacity: 1; /* Убедитесь, что замыливание видно */
}

.blur-overlay h2, .blur-overlay h3, .blur-overlay p {
  color: black; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  text-align: center; /* Выравнивание текста по центру */
}
